* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;

  --white: #ffffff;

  --gray-100: #f8fafb;
  --gray-200: #f1f1f3;
  --gray-300: #4d4f5c;
  --gray-400: #43425d;
  --gray-500: #2f2e50;

  --yellow: #ffda83;
  --green: #4ad991;
  --red: #ff215d;
}

body {
  font-size: 1.6rem;
  font-family: 'Source Sans 3', sans-serif;
  background: var(--gray-100);
}
